<h1>HackerNews Clone</h1>
<h2>Stories</h2>
{{#each model as |story|}}
  {{#link-to 'story' story.id}}
    <h2>{{story.title}}</h2>
  {{/link-to}}
  <h3>{{story.user}}</h3>
  <h5>Score: {{story.score}}</h5>
  <p>Created at: {{story.createdAt}}</p>
<hr>
{{/each}}
{{outlet}}
